/* For star based rating system */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: large;
    text-align: left;
}

.rating > span {
    display: inline-block;
    position: relative;
}

.rating > span:hover:before,

.rating > span:hover ~ span:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
}

.star-icon {
    color: #dddddd;
    font-size: 2em;
    position: relative;
}

.star-icon.full:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
}

.star-icon.half:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

@-moz-document url-prefix() { /* Firefox Hack :( */
    .star-icon {
        font-size: 50px;
        line-height: 34px;
        cursor: default;
    }
}
