/*.button {*/
/*-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;*/
/*-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;*/
/*box-shadow:inset 0px 1px 0px 0px #ffffff;*/
/*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));*/
/*background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);*/
/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');*/
/*background-color:#ededed;*/
/*-webkit-border-top-left-radius:6px;*/
/*-moz-border-radius-topleft:6px;*/
/*border-top-left-radius:6px;*/
/*-webkit-border-top-right-radius:6px;*/
/*-moz-border-radius-topright:6px;*/
/*border-top-right-radius:6px;*/
/*-webkit-border-bottom-right-radius:6px;*/
/*-moz-border-radius-bottomright:6px;*/
/*border-bottom-right-radius:6px;*/
/*-webkit-border-bottom-left-radius:6px;*/
/*-moz-border-radius-bottomleft:6px;*/
/*border-bottom-left-radius:6px;*/
/*text-indent:0;*/
/*border:1px solid #dcdcdc;*/
/*display:inline-block;*/
/*color:#777777;*/
/*font-family:arial;*/
/*font-size:13px;*/
/*font-weight:bold;*/
/*font-style:normal;*/
/*height:25px;*/
/*line-height:25px;*/
/*width:80px;*/
/*text-decoration:none;*/
/*text-align:center;*/
/*text-shadow:1px 1px 0px #ffffff;*/
/*}*/

/*.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	top:1px;
}*/
label {
    display:block;
    /*margin-left:10px;*/
}
.subListLabel {
    display:block;
}
.subListForm {
    /*width:300px;
    overflow:hidden;
    margin-left:-30px;
    margin-top:5px;*/
}
.subListForm li {
    list-style:none;
    /*padding-bottom:10px;*/
}
table
{
    border-collapse:separate;
    border-spacing:10px 5px;
}
td {
    vertical-align: top;
}
.input50 {
    /*width: 22em;*/
}
.input20 {
    /*width: 10em;*/
}
.input40 {
    /*width: 15em;*/
}

select {
    height: inherit; /* request Ken fix it */
}
