* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

#heading {
    text-transform: uppercase;
    color: #007C82;
    font-weight: normal
}

#msform {
    /*text-align: center;*/
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #007C82;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    /*background: #007C82;*/
    background: #007c82;
    /*font-weight: bold;*/
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    /*background-color: #311B92*/
    background-color: #007c82;
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    /*font-weight: bold;*/
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    color: #007c82;
    margin-bottom: 15px;
    text-align: left
}

.big-message-on-last-step {
    color: #007C82;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    /* disable this setting go along with EBI visual framework */
    margin-left: 0;
    margin-bottom: 0;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #007C82
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
    text-align: center;
}

#form-validation-bar {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#form-validation-bar li {
    list-style-type: none;
    font-size: 25px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
    text-align: center;
}

#progressbar #upload-file:before {
    font-family: FontAwesome;
    content: "\f15b"
}

#progressbar #model-info:before {
    font-family: FontAwesome;
    content: "\f05a"
}

#progressbar #publication-details:before {
    font-family: FontAwesome;
    content: "\f02d"
}

#progressbar #summary-submission:before {
    font-family: FontAwesome;
    content: "\f022"
}

#progressbar #confirm-submission:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #007C82
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: #007C82;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.bg-success {
    background-color: #01a252;
}
