<div id="filtering"><span style="font-weight: bold">Show:</span>
    <input id="privateModels" type="checkbox"><label for="privateModels">Private</label>
    <input id="sharedModels" type="checkbox"><label for="sharedModels">Shared</label>
    <input id="publicModels" type="checkbox"><label for="publicModels">Public</label>
</div>
